In [42]:
import pandas as pd 
import numpy as np

In [43]:
HDFC=pd.read_csv("HDFC.CSV")
HDFC.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover
0,HDFC,EQ,271.75,293.5,293.50,293.5,293.5,293.50,293.50,22744,6.680000e+11
1,HDFC,EQ,293.50,317.0,317.00,297.0,304.0,304.05,303.62,255251,7.750000e+12
2,HDFC,EQ,304.05,290.0,303.90,285.0,295.0,292.80,294.53,269087,7.930000e+12
3,HDFC,EQ,292.80,301.0,314.00,295.0,296.0,296.45,300.14,305916,9.180000e+12
4,HDFC,EQ,296.45,290.0,296.35,281.0,287.1,286.55,288.80,197039,5.690000e+12

In [44]:
HDFC.dtypes

Symbol         object
Series         object
Prev Close    float64
Open          float64
High          float64
Low           float64
Last          float64
Close         float64
VWAP          float64
Volume          int64
Turnover      float64
dtype: object

In [45]:
HDFC.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover
count,5204.000000,5204.000000,5204.000000,5204.000000,5204.000000,5204.000000,5204.000000,5.204000e+03,5.204000e+03
mean,1258.916699,1259.570830,1279.203689,1238.845350,1259.115027,1259.298040,1258.914489,1.803337e+06,2.465803e+14
std,693.435637,693.614024,705.271220,681.532996,693.255776,693.438328,693.143593,2.995775e+06,3.423043e+14
min,271.750000,284.000000,290.500000,273.250000,282.850000,283.850000,283.600000,2.919000e+03,1.830000e+11
25%,666.950000,667.000000,675.000000,658.500000,667.000000,667.075000,666.395000,2.951870e+05,2.357500e+13
50%,1114.900000,1115.150000,1130.000000,1096.175000,1115.100000,1114.950000,1114.400000,1.277891e+06,1.640000e+14
75%,1776.750000,1778.100000,1807.100000,1751.000000,1776.075000,1777.000000,1776.372500,2.659661e+06,3.280000e+14
max,3180.150000,3148.000000,3262.000000,3100.550000,3178.000000,3180.150000,3166.580000,1.584141e+08,1.040000e+16

In [46]:
HDFC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5204 entries, 0 to 5203
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      5204 non-null   object
 1   Series      5204 non-null   object
 2   Prev Close  5204 non-null   float64
 3   Open        5204 non-null   float64
 4   High        5204 non-null   float64
 5   Low         5204 non-null   float64
 6   Last        5204 non-null   float64
 7   Close       5204 non-null   float64
 8   VWAP        5204 non-null   float64
 9   Volume      5204 non-null   int64
 10  Turnover    5204 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 447.3+ KB

In [47]:
HDFC.isnull().sum()

Symbol        0
Series        0
Prev Close    0
Open          0
High          0
Low           0
Last          0
Close         0
VWAP          0
Volume        0
Turnover      0
dtype: int64

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
encoder = LabelEncoder()
HDFC['Symbol'] = encoder.fit_transform(HDFC['Symbol'])
Symbol = {index : label for index, label in enumerate(encoder.classes_)}
Symbol

{0: 0}

In [52]:
HDFC['Series'] = encoder.fit_transform(HDFC['Series'])
Series = {index : label for index, label in enumerate(encoder.classes_)}
Series

{0: 'EQ'}

In [53]:
X=HDFC.drop(['Turnover'],axis=1)
y=HDFC['Turnover']

In [55]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(copy=True, feature_range=(0, 1))
X = scaler.fit_transform(X)

#showing data
print('x \n' , X[:10])
print('y \n' , y[:10])

x
 [[0.         0.         0.         0.00331704 0.00100959 0.00716231
  0.00367857 0.00333184 0.00343395 0.00012515]
 [0.         0.         0.00747834 0.01152235 0.00891805 0.00840024
  0.00730532 0.00697442 0.0069442  0.00159289]
 [0.         0.         0.01110576 0.00209497 0.00450951 0.00415591
  0.00419667 0.00309015 0.00379122 0.00168023]
 [0.         0.         0.00723766 0.00593575 0.00790846 0.00769285
  0.00454208 0.00435038 0.00573712 0.00191272]
 [0.         0.         0.00849264 0.00209497 0.0019687  0.00274113
  0.00146797 0.00093222 0.00180369 0.00122542]
 [0.         0.         0.00508871 0.0027933  0.00185092 0.00415591
  0.001917   0.00115665 0.00201874 0.00082345]
 [0.         0.         0.0053122  0.00209497 0.0005048  0.
  0.         0.         0.00032605 0.00211154]
 [0.         0.         0.00416036 0.00104749 0.00084133 0.00397906
  0.00082897 0.00060422 0.00138745 0.00138638]
 [0.         0.         0.00476207 0.00139665 0.         0.00344852
  0.00039722 0.         0.00077697 0.00069641]
 [0.         0.         0.00416036 0.         0.00117786 0.00106108
  0.00281505 0.00093222 0.         0.00094313]]
y
 0    6.680000e+11
1    7.750000e+12
2    7.930000e+12
3    9.180000e+12
4    5.690000e+12
5    3.860000e+12
6    9.600000e+12
7    6.400000e+12
8    3.240000e+12
9    4.320000e+12
Name: Turnover, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=0)
print("X_train shape is:",X_train.shape)
print("X_test shape is:",X_test.shape)
print("y_train shape is:",y_train.shape)
print("y_test shape is:",y_test.shape)

X_train shape is: (3486, 10)
X_test shape is: (1718, 10)
y_train shape is: (3486,)
y_test shape is: (1718,)

In [57]:
from sklearn.ensemble import RandomForestRegressor

In [61]:
RandomForestRegressorModel = RandomForestRegressor(n_estimators=100,max_depth=11, random_state=33)
RandomForestRegressorModel.fit(X_train, y_train)

print('Random Forest Regressor Train Score is : ' , RandomForestRegressorModel.score(X_train, y_train))
print('Random Forest Regressor Test Score is : ' , RandomForestRegressorModel.score(X_test, y_test))
print('Random Forest Regressor No. of features are : ' , RandomForestRegressorModel.n_features_)
print('----------------------------------------------------')

y_pred = RandomForestRegressorModel.predict(X_test)
print('Predicted Value for Random Forest Regressor is : ' , y_pred[:49])
print("score of model is :",RandomForestRegressorModel.score(X_test,y_test))

Random Forest Regressor Train Score is :  0.9734018935951031
Random Forest Regressor Test Score is :  0.9969047625110619
Random Forest Regressor No. of features are :  10
----------------------------------------------------
Predicted Value for Random Forest Regressor is :  [4.65962313e+14 7.99248544e+14 2.87898040e+13 1.11827210e+14
 6.60002751e+12 1.30385815e+13 2.61290846e+13 2.18574636e+14
 1.42109765e+14 8.30047076e+13 1.77507027e+14 2.20174244e+14
 3.26942012e+14 1.06215867e+15 4.51783759e+12 7.61510352e+12
 1.74299080e+14 2.68535321e+14 4.62042330e+14 2.66113019e+14
 3.33422533e+14 3.78486899e+12 2.19985613e+14 2.90589386e+14
 3.18776954e+14 2.38081777e+14 3.15241702e+14 1.04575447e+14
 9.36521557e+12 1.04694862e+15 4.61238257e+14 8.95545329e+13
 7.68474452e+14 1.77172420e+14 8.87725663e+12 1.54932555e+13
 1.82421800e+14 7.21388238e+14 2.02163636e+14 4.23497935e+14
 6.92286517e+12 1.36360926e+12 4.17996114e+13 3.40176415e+14
 1.21139846e+14 5.52007239e+12 4.17697787e+12 1.36336143e+14
 3.21720418e+13]
score of model is : 0.9969047625110619

In [62]:
from sklearn.metrics import  mean_squared_error

In [63]:
MSEValue = mean_squared_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Squared Error Value is : ', MSEValue)

Mean Squared Error Value is :  3.1242943530388134e+26